.b_extended_profile {
    margin-bottom: 20px;
}

.gcconnex-profile-button {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0px;
    font-family: Arial;
    color: #ffffff;
    background: #3c698e;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin-top: 10px;
    cursor: pointer;
}

.gcconnex-profile-button:hover {
    background: #507D9E;
    text-decoration: none;
}

/*
 * Styling for the message box that displays old skills to users for re-entry
 */

.gcconnex-old-skills {
    min-height: 20px;
    padding: 19px;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: #FAEBCC;
    border: 1px solid #E3E3E3;
    border-radius: 10px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05) inset;

}

.gcconnex-old-skills-display {
    padding-left: 15px;
}

.gcconnex-old-skills-message {
    padding-bottom: 10px;
}

.gcconnex-endorsements-count {
    display: inline-block;
    width: 20px;
    background-color: #3C698E;
    font-family: arial, sans-serif;
    color: white;
    padding: 3px 3px 3px 3px;
    text-align: center;
    border: 0px solid cornflowerblue;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: 1px solid lightgray;
    box-shadow: 7px 3px 5px #888888;
    text-shadow: 1px 1px #888888;
}

.gcconnex-endorsements-skill {
    display: inline-block;
    min-width: 75px;
    font-family: arial, sans-serif;
    background-color: darkgray;
    color: white;
    padding: 3px 6px 3px 3px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 5px 3px 5px #888888;
    margin-top: 7px;
    margin-left: 0px;
}

.gcconnex-endorsement-add {
    color: cornflowerblue;
    text-shadow: 1px 1px #888888;
    font-weight: bold;
    padding: 3px 3px 3px 5px;
    margin: 0px;
    cursor: pointer;
}

.gcconnex-endorsement-retract {
    color: cornflowerblue;
    text-shadow: 1px 1px #888888;
    font-weight: bold;
    padding: 3px 3px 3px 5px;
    margin: 0px;
    cursor: pointer;
}

.gcconnex-endorsements-add-skill {
    color: #3C698E;
    text-shadow: 1px 1px #888888;
    font-family: arial;
    font-size: 12px;
    clear: left;
    padding: 3px 3px 3px 5px;
    margin: 0px;
    cursor: pointer;
}


.gcconnex-education-entry,
.gcconnex-work-experience-entry {
    margin: 15px;
    background-color: lightgray;
    padding: 15px;
    border-radius: 5px;
}


input.gcconnex-endorsements-input-skill {
    display: block;
    clear: left;
    border: 1px solid lightgray;
    box-shadow: 1px 1px darkgray;
    border-radius: 5px;
    width: 200px;
}

.gcconnex-endorsements-input-wrapper {
    margin-top: 10px;
}

.gcconnex-endorsements-skill-wrapper {
    padding-top: 10px;
}

.delete-skill {
    font-family: arial, sans-serif;
    font-size: 12px;
    color: cornflowerblue;
    font-weight: bold;
    cursor: pointer;
}

.delete-skill-img {
    height: 15px;
    width: 15px;
    position: relative;
    top: 3px;
    padding-left: 10px;
    padding-right: 5px;
}

.temporarily-added .gcconnex-endorsements-skill {
    background-color: #e5e500;
}

/*
.edit-png {
    background: url('../img/edit.png');
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    position: absolute;
}*/



/* about me */
.about-me-longtext {
    width: 98%;
}







/* education */

.gcconnex-profile-education-display,
.gcconnex-profile-work-experience-display {
    padding-bottom: 10px;
}

.work-experience-title,
.education-school {
    padding-top: 5px;
    font-size: 18px;
    padding-bottom: 2px;
}

.work-experience-dates,
.education-dates {
    font-size: 10px;
    width: auto;
    border-bottom: 1px solid #d3d3d3;
    line-height: 12px;
    padding-top: 7px;
}

.education-degree ul {
    padding-left: 15px;
}

.education-degree li {
    list-style: disc;
    padding-left: 0px;
    font-weight: bold;
}

.education-field {
    padding-left: 20px;
    font-style: italic;
}

.gcconnex-work-experience-organization,
.gcconnex-work-experience-title {
    width: 300px;
}

.gcconnex-work-experience-responsibilities {
    width: 98%;
}

.work-experience-organization {
    font-weight: bold;
    padding-bottom: 10px;
}


.gcconnex-profile-section-wrapper {
    position: relative;
    padding: 10px;
    padding-top: 20px;
    background-color: #eeeeee;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin-top: 20px;
    margin-right: 5px;
    margin-left: 5px;
}

.gcconnex-profile-title {
    font-family: arial, sans-serif;
    font-size: 12px;
    text-align: center;
    text-shadow: 1px 1px darkgray;
    padding: 5px;
    background-color: #3C698E;
    border: 1px solid lightgray;
    width: 100px;
    left: 10px;
    color: white;
    z-index: 1;
    position: absolute;
    margin-top: -32px;
}

.edit-control img,
.save-control img,
.cancel-control img {
    height: 15px;
    width: 15px;
    padding-right: 10px;
    position: relative;
    top: 2px;
}

.gcconnex-profile-edit-controls {
    float: right;
    position: relative;
    margin-top: -30px;
}

.edit-control,
.save-control,
.cancel-control {
    font-family: arial, sans-serif;
    font-size: 12px;
    color: #3C698E;
    font-weight: bold;
    z-index: 1;
    padding-right: 5px;
    cursor: pointer;
}


.b-user-menu {
    display: inline;
    float: right;
    border-left: 3px solid #EEE;
    height: 229px;
    padding-top: 5px;
}

.profile-content-menu a {
    color: #808080;
}
.profile-content-menu li > a:hover {
    background: none repeat scroll 0% 0% #3C698E;
    color: #FFF;
    text-decoration: none;
    border-radius: 0px;
}

.profile {
    float: none;
}

#profile-details {
    display: inline-block;
    width: 400px;

}

.elgg-input-text[name='education'] {
    width: 300px;
}

.elgg-input-text[name='startdate'],
.elgg-input-text[name='enddate'] {
    width: 100px;
}
.elgg-input-text[name='program'] {
    width: 300px;
}
.elgg-input-text[name='fieldofstudy'] {
    width: 300px;
}

/*
 Colouring and styling for the "font-awesome" social media links on gcconnex profiles.
 */
.fa {
}
.fa-google-plus {
    color: #DD4939;
}

.fa-facebook {
    color: #3C5B98;
}

.fa-instagram {
    color: #6C5245
}

.fa-twitter {
    color: #55AEEE;
}

.fa-linkedin {
    color: #1A86BC;
}

.fa-tumblr {
    color: #34465D;
}

.fa-pinterest {
    color: #CB1F28;
}

.fa-flickr {
    color: #0061C9;
}

.fa-youtube {
    color: #D82A27;
}

